<div class="bg-light text-center rounded p-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h6 class="mb-0">Tipos de ingresos</h6>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-end">
                <button class="btn btn-success" (click)="modal('nuevo')">Agregar tipo</button>
            </div>
        </div><br>
        <div class="row">
            <div class="col-sm-12">
                <app-tabla [configuracion]="configuracion" [datos]="datos"></app-tabla>
            </div>
        </div>
    </div>
</div>
<app-modal [ngSwitch]="vista">
    <app-modal-ingreso-tipo *ngSwitchCase="'nuevo'" [lista]="lista" (emitidor)="nuevo($event);"></app-modal-ingreso-tipo>
</app-modal>