<div class="row">
    <div class="col-sm-4">
        <app-select [etiqueta]="'Paquete'" [datos]="paquetes" (emitidor)="empresa.idPaquete = $event;"></app-select>
    </div>
    <div class="col-sm-4">
        <app-select [etiqueta]="'Motivo de eleccion'" [datos]="motivos" (emitidor)="empresa.idMotivo = $event;"></app-select>
    </div>
    <div class="col-sm-4">
        <app-select [etiqueta]="'Medio de contacto'" [datos]="medios" (emitidor)="empresa.idMedio = $event;"></app-select>
    </div>
</div><br>
<div class="row">
    <div class="col-sm-4">
        <app-input [etiqueta]="'Domicilio'" (emitidor)="empresa.domicilio = $event;"></app-input>
    </div>
    <div class="col-sm-4">
        <app-input [etiqueta]="'Ubicacion'" (emitidor)="empresa.mapa = $event;"></app-input>
    </div>
    <div class="col-sm-4">
        <app-input [etiqueta]="'Precio'" [validacion]="'decimal'" (emitidor)="empresa.monto = $event;"></app-input>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <app-input [etiqueta]="'Fecha'" [tipo]="'date'" (emitidor)="empresa.fecha = $event;"></app-input>
    </div>
    <div class="col-sm-4">
        <app-input [etiqueta]="'Hora'" [tipo]="'time'" (emitidor)="empresa.hora = $event;"></app-input>
    </div>
    <div class="col-sm-4">
        <app-select [etiqueta]="'Calendario'" [datos]="calendarios" [dato]="empresa.idCalendario" (emitidor)="empresa.idCalendario = $event;"></app-select>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <app-select [etiqueta]="'Semana'" [datos]="semanas" [dato]="empresa.idSemana" (emitidor)="empresa.idSemana = $event;"></app-select>
    </div>
    <div class="col-sm-4">
        <app-input [etiqueta]="'Anticipo'" [validacion]="'decimal'" [valor]="empresa.anticipo" (emitidor)="empresa.anticipo = $event;"></app-input>
    </div>
    <div class="col-sm-4">
        <app-select [etiqueta]="'Forma de pago'" [datos]="formas" [dato]="empresa.idFormaPago" (emitidor)="empresa.idFormaPago = $event;"></app-select>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <app-select [etiqueta]="'Cuenta'" [datos]="cuentas" [dato]="empresa.idCuenta" (emitidor)="empresa.idCuenta = $event;"></app-select>
    </div>
    <div class="col-sm-8">
        <app-textarea [etiqueta]="'Observaciones'" (emitidor)="empresa.observaciones = $event;"></app-textarea>
    </div>
</div>
<div class="row justify-content-end">
    <div class="col-sm-12 d-md-flex justify-content-md-end">
        <button class="btn btn-success" (click)="continuar()">Siguiente</button>
        <button class="btn btn-danger" (click)="cancelar()">Anterior</button>
    </div>
</div>