<div class="bg-light text-center rounded p-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h6 class="mb-0">Programación de Eventos</h6>
    </div>
    <div class="container">
        <div class="row text-start mb-3">
            <div class="col-sm-8">
                <app-select [datos]="semanas" [etiqueta]="'Semana'" [dato]="semanaSeleccionada" (emitidor)="buscar($event);"></app-select>
            </div>
            <div class="col-sm-4">
                <br> {{datos.length}} eventos
            </div>
        </div><br>
        <div class="row">
            <div class="col-sm-12">
                <app-tabla [configuracion]="configuracion" [datos]="datos" (doble)="editar($event);"></app-tabla>
            </div>
        </div>
    </div>
</div>
