<div class="container-fluid pt-4 px-4 bg-light">
    <div class="bg-light text-center rounded p-4">
        <h6 class="mb-4">Balance General</h6>

        <div class="row">
            <div class="col-sm-4 text-center mb-4" *ngFor="let item of balances" [attr.data-bs-toggle]="'popover'" data-bs-trigger="hover focus" data-bs-html="true" [attr.data-bs-content]="popoverContent(item)">
                <app-circulo [dato]="'$' + generales.milesNumeros(item.total)">
                </app-circulo>

                <h4 class="mt-2">{{ item.nombre }}</h4>
                <button class="btn btn-sm btn-info mt-2" (click)="abrirTraspaso(item); $event.stopPropagation();">Traspaso</button>
            </div>
        </div>
    </div>
</div>

<app-modal [ngSwitch]="vista" *ngIf="vista === 'traspaso'">
    <app-modal-traspaso *ngSwitchCase="'traspaso'" [origenAccount]="origenAccount" [listas]="listas" (emitidor)="realizarTraspaso($event)"></app-modal-traspaso>
</app-modal>