<div class="container-fluid pt-4 px-4 bg-light">
    <div class="bg-light text-center rounded p-4">
        <h6 class="mb-4">Balance General</h6>

        <div class="row">
            <div class="col-sm-4 text-center mb-4" *ngFor="let item of balances" [attr.data-bs-toggle]="'popover'" data-bs-trigger="hover focus" data-bs-html="true" [attr.data-bs-content]="popoverContent(item)">
                <app-circulo [dato]="'$' + generales.milesNumeros(item.total)">
                </app-circulo>

                <h4 class="mt-2">{{ item.nombre }}</h4>
            </div>
        </div>
    </div>
</div>