<div class="bg-light text-center rounded p-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h6 class="mb-0">Paquetes</h6>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-end">
                <button class="btn btn-warning" (click)="modal('modificar')" *ngIf="seleccion !== undefined">Modificar</button>
                <button class="btn btn-danger" (click)="eliminar();" *ngIf="seleccion !== undefined">Eliminar</button>
                <button class="btn btn-success" (click)="modal('nuevo')">Agregar paquete</button>
            </div>
        </div><br>
        <div class="row">
            <div class="col-sm-12">
                <app-tabla [configuracion]="configuracion" [datos]="datos" (emitidor)="seleccion = $event;"></app-tabla>
            </div>
        </div>
    </div>
</div>
<app-modal [ngSwitch]="vista">
    <app-modal-paquete *ngSwitchCase="'nuevo'" (emitidor)="nuevo($event);"></app-modal-paquete>
    <app-modal-paquete *ngSwitchCase="'modificar'" [modificar]="true" [dato]="seleccion" (emitidor)="modificar($event);"></app-modal-paquete>
</app-modal>