<div class="row">
    <div class="col-sm-12">
        <app-select [datos]="listas.semanas" [etiqueta]="'Semana'" [dato]="semanaSeleccionada" (emitidor)="buscar($event);"></app-select>
    </div>
</div><br><br>
<div class="row" *ngFor="let evento of eventos, let i = index">
    <div class="col-sm-12">
        <app-evento-grafico [modificar]="false" [evento]="evento" [bg]="i" [paquetes]="listas.paquetes" [personajes]="listas.personajes" [talleres]="listas.talleres"></app-evento-grafico>
    </div>
</div>