<div class="bg-light text-center rounded p-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h6 class="mb-0">Reporte de eventos</h6>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <app-select [etiqueta]="'Calendario'" [datos]="lista" (emitidor)="busqueda = $event;"></app-select>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-info" (click)="reporte();">Buscar</button>
            </div>
        </div>
    </div>
</div>