<div class="card">
    <div class="card-header pb-0 bg-primary">
        <div class="d-flex align-items-center">
            <h5 class="mb-1 text-white">Transferencias</h5>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-success" (click)="modal('nuevo')">Agregar Transferencia</button>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-danger" (click)="eliminar();">Eliminar</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <app-tabla [configuracion]="configuracion" [datos]="datos" (emitidor)="seleccion = $event;"></app-tabla>
                </div>
            </div>
        </div>
    </div>
</div>
<app-modal [ngSwitch]="vista">
    <app-modal-transferencia *ngSwitchCase="'nuevo'" [lista]="lista" [modificar]="false" (emitidor)="nuevo($event);"></app-modal-transferencia>
</app-modal>