.bg-rojo {
    background-color: #f1b0b7;
}

.bg-amarillo {
    background-color: #fff3cd;
}

.bg-verde {
    background-color: #bee5eb;
}

.bg-azul {
    background-color: #85C9FB;
}

.bg-morado {
    background-color: #B092FA;
}

.selected {
    background-color: #F1F1F1F1;
}