<div class="container">
    <div class="row">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Estadisticas</h6>
        </div>
        <div class="col-sm-4 text-center">
            <app-circulo [dato]="'$' + generales.milesNumeros(ingresos)"></app-circulo>
            <h4>Ingresos</h4>
        </div>
        <div class="col-sm-4 text-center">
            <app-circulo [dato]="'$' + generales.milesNumeros(egresos)"></app-circulo>
            <h4>Egresos</h4>
        </div>
        <div class="col-sm-4 text-center">
            <app-circulo [dato]="'$' + generales.milesNumeros(promedio)"></app-circulo>
            <h4>Venta Promedio</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 text-center">
            <h5>Eventos del Mes</h5>
            <canvas id="graficaEventos"></canvas>
            <h5>{{eventos.total}} Eventos</h5>
            <p *ngIf="eventos?.total === 0">No existen eventos</p>
        </div>

        <div class="col-sm-6 text-center">
            <h5>Eventos del Año</h5>
            <canvas id="graficaEventosYear"></canvas>
            <h5>{{year.total}} Eventos</h5>
            <p *ngIf="year?.total === 0">No existen eventos</p>
        </div>
    </div>
</div>