<div class="modal-header bg-info">
    <h4 class="text-white">Usuario</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <app-input [mayusculas]="true" [valor]="dato.nombre" [etiqueta]="'Nombre'" (emitidor)="dato.nombre = $event"></app-input>
            </div>
            <div class="col-sm-4">
                <app-input [mayusculas]="true" [valor]="dato.celular" [validacion]="'numero'" [cantidad]="10" [etiqueta]="'Celular'" (emitidor)="dato.celular = $event"></app-input>
            </div>
            <div class="col-sm-4">
                <app-select [datos]="listas.sucursales" [etiqueta]="'Sucursal'" [dato]="dato.idSucursal" (emitidor)="dato.idSucursal = $event;"></app-select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <app-input [valor]="dato.usuario" [etiqueta]="'Usuario'" (emitidor)="dato.usuario = $event;"></app-input>
            </div>
            <div class="col-sm-4">
                <app-input [tipo]="'password'" [etiqueta]="'Contraseña'" (emitidor)="dato.password = $event;"></app-input>
            </div>
            <div class="col-sm-4">
                <app-select [datos]="listas.tipos" [etiqueta]="'Tipo de usuario'" [dato]="dato.idTipoUsuario" (emitidor)="dato.idTipoUsuario = $event;"></app-select>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-sm-12 d-md-flex justify-content-md-end">
                <button class="btn btn-success" (click)="emitir()">Guardar</button>
                <button class="btn btn-danger" (click)="cerrar()">Cancelar</button>
            </div>
        </div>
    </div>
</div>