<div class="calendar">

    <!-- Header con selector y total -->
    <div class="header d-flex justify-content-between align-items-center mb-3">

        <input type="month" [(ngModel)]="selectedMonth" (change)="changeMonth()">

        <h5>
            Total del mes:
            <span class="badge bg-dark">
                {{ totalMes }}
            </span>
        </h5>
    </div>

    <div class="weekdays">
        <div *ngFor="let d of ['Dom','Lun','Mar','Mié','Jue','Vie','Sáb']">
            {{ d }}
        </div>
    </div>

    <div class="days">
        <div class="day" *ngFor="let d of days">
            <ng-container *ngIf="d">

                <div class="number">
                    {{ d.day }}
                </div>

                <div *ngIf="d.total > 0" class="event" [ngClass]="getColorClass(d.total)">
                    {{ d.total }} eventos
                </div>

            </ng-container>
        </div>
    </div>
</div>