<div class="modal-header bg-info">
    <h4 class="text-white">Sucursales de usuario</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <app-select [datos]="restantes" [dato]="body.idSucursal" [etiqueta]="'Sucursales'" (emitidor)="body.idSucursal = $event;"></app-select>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-success" (click)="asignar()">Aagregar Sucursal</button>
            </div>
        </div><br>
        <div>
            <div class="row">
                <div class="col-sm-12" *ngFor="let sucursal of asignadas">
                    <h6 *ngIf="sucursal.id.toString() === datos.idSucursal.toString()">{{sucursal.nombre}} </h6>
                    <h6 *ngIf="sucursal.id.toString() !== datos.idSucursal.toString()">{{sucursal.nombre}} <i class="fas fa-times text-danger" (click)="this.body.idSucursal = sucursal.id; retirar();"></i></h6>

                </div>
            </div>
        </div>

        <div class="row justify-content-end">
            <div class="col-sm-12 d-md-flex justify-content-md-end">
                <button class="btn btn-danger" (click)="cerrar()">Cancelar</button>
            </div>
        </div>
    </div>
</div>