<div class="bg-light text-center rounded p-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h6 class="mb-0">Ingresos</h6>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-end">
                <button class="btn btn-success" (click)="modal('nuevo')">Agregar ingreso</button>
            </div>
        </div><br>
        <div class="row" *ngIf="seleccion !== undefined">
            <div class="col-sm-4">
                <button class="btn btn-warning" (click)="modal('modificar');">Modificar</button>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-info" (click)="modal('imagen');">Voucher</button>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-danger" (click)="imprimir();">Imprimir PDF</button>
            </div>
        </div><br>
        <div class="row">
            <div class="col-sm-12">
                <app-tabla [configuracion]="configuracion" [datos]="datos" (emitidor)="seleccion = $event"></app-tabla>
            </div>
        </div>
    </div>
</div>
<app-modal [ngSwitch]="vista">
    <app-modal-ingreso *ngSwitchCase="'nuevo'" [modificar]="false" [listas]="listas" (emitidor)="nuevo($event)"></app-modal-ingreso>
    <app-modal-ingreso *ngSwitchCase="'modificar'" [modificar]="true" [dato]="seleccion" [listas]="listas" (emitidor)="solicitud($event)"></app-modal-ingreso>
    <div *ngSwitchCase="'imagen'" class="text-center p-3">
        <div *ngIf="cargandoImagen" class="py-5">
            <div class="spinner-border text-info mb-2" role="status"></div>
            <p class="text-muted">Cargando voucher...</p>
        </div>
        <img *ngIf="!cargandoImagen && seleccion?.imagen" [src]="seleccion.imagen" class="img-fluid rounded shadow-sm" alt="Voucher de ingreso" style="max-height: 75vh; object-fit: contain;">
        <div *ngIf="!cargandoImagen && !seleccion?.imagen" class="py-5 text-muted">
            <i class="bi bi-camera-off fs-1 d-block mb-3"></i>
            <h6>No hay una imagen vinculada a este registro.</h6>
            <p class="small text-secondary mb-0">Forma de pago: {{seleccion?.forma}}</p>
        </div>
    </div>
</app-modal>