<div class="bg-light text-center rounded p-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h6 class="mb-0">Balance de Caja</h6>
    </div>
    <div class="container">
        <div class="row">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Total en caja</h6>
            </div>
            <div class="col-sm-4 text-center">
                <app-circulo [dato]="'$' + generales.milesNumeros(total)"></app-circulo>
                <h4>Efectivo</h4>
            </div>
            <div class="col-sm-4 text-center">
                <app-circulo [dato]="'$' + generales.milesNumeros(ingreso)"></app-circulo>
                <h4>Ingresos</h4>
            </div>
            <div class="col-sm-4 text-center">
                <app-circulo [dato]="'$' + generales.milesNumeros(egreso)"></app-circulo>
                <h4>Egresos</h4>
            </div>
            <div class="col-sm-12 text-end">
                <button class="btn btn-success" (click)="reporte();">Corte de Caja</button>
            </div>
        </div>
    </div>
</div>